{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <h1>Блок загрузки файлов</h1>
    <form action="" method="post" novalidate
	enctype="multipart/form-data">
        {{ form.hidden_tag() }}
	{{ render_form(form) }}
        <p>
            {{ form.pictures.label }}<br>
            {{ form.pictures(size=52) }}<br>
	    {% for error in form.pictures.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}