<!doctype html>
<html lang="en">

	<head>
		{% block head %}
        	<meta charset="utf-8">
        	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>
			{{ title }}
		</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='heart.svg') }}"/>
		{% endblock %}
        	
		{% block styles %}
            	{{ bootstrap.load_css() }}
		{% endblock %}
	</head>

	<body>
		{% from 'bootstrap5/nav.html' import render_nav_item %}
		{% block navbar %}
		<nav class="navbar navbar-expand-lg fs-7 mt-2 mb-5 pb-0 pt-0" style="background-color: #F5F5F5;">
		<a class="navbar-brand" mb-0 h1>
			<img src="{{ url_for('static', filename='online_dating.png') }}" alt="Bootstrap" width="120" height="60">
			AI query web module
		</a>
			<div class="navbar-nav ms-auto">
				{{ render_nav_item('home', 'Home') }}
			</div>
    		</nav>
		{% endblock %}

		{% block home %}{% endblock %}
		{% block answer %}{% endblock %}
	</body>
	<footer class="bg-light text-left text-lg-start fixed-bottom">
            © Prototype web app
       </footer>
</html>