<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link type= "text/css" href= "{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <header>
                <img src="{{url_for('static', filename='images/ml.png')}}" width="300" height="80" alt="Декоративная картинка"/img>
                <form name="search" action="#" method="get">
	            <input type="text" name="q" placeholder="Search"><button type="submit">GO</button>
                </form>
            </header>
            <nav>
                <ul class="top-menu">
                    Navigation area:
                    <li><a href="{{ '/home' }}">Home</a></li>
                    <li><a href="{{ '/input' }}">Input</a></li>
                </ul>
            </nav>          
            <section>
                {% block content %}{% endblock %}
            </section>
        </div>
        <footer>
            © Alexey Tretyakov<br>
            Credentials: Ян Пойнтер "Программируем с Pytorch"
        </footer>
    </body>	
</html>