{% extends "base.html" %}

{% block content %}
        <h2>Привет, {{ current_user.username }}!</h2>

        <h1>Тренируем способность выражать эмоции на английском</h1>
            <p>Портал представляет возможность определить эмоциональную окраску вашего настроения, выраженного в тексте на английском языке.
               Перейдя по ссылке Input вы сможете описать свое текущее настроение в окне ввода текста.
               Нейронная сеть, обученная на pre-embeeded векторах слов с использованием CNN слоев, постарается определить, в каком вы сегодня настроении.
               <br>
               <br>
               <br>
               Удачи в понимании своего настроения!
            <p>
 {% endblock %}