{% extends "base.html" %}

{% block content %}
  <br><h2 class="text-center">Для просмотра результатов моделирования пользователей введите имя пользователя:</h2><br>
  <div class="container-fluid" style="width: 32rem; height: 15rem;">
    <form name="login" action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      {{ form.username(placeholder="Enter username", size=42, style="font: 18px Tahoma, sans-serif;") }}{{ form.submit(style="background-color: #87cefa") }}
    </form>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul style="color: red;">{{ messages[0] }}</ul>
    {% endif %}
    {% endwith %}
    <br>
  </div>

{% endblock %}