{% extends "base.html" %}

{% block content %}
    <h2>Для просмотра результатов моделирования пользователей введите имя пользователя:</h2>
    <form name="analytics" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.username(placeholder="Enter username", size=64) }}{{ form.submit(class ="submit") }}
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul style="color: red;">{{ messages[0] }}</ul>
    {% endif %}
    {% endwith %}
{% endblock %}